html {
  font-size: 16px;
}
/* HEADER */
header {
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 0.5em 1em 0.5em;
  box-shadow: 0px 1px 5px black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: flex;
}

.name {
  /* float: left; */
  font-weight: bold;
}

.buttons {
  /* float: right; */
  color: black;
}

.buttons a {
  text-decoration: none;
  color: inherit;
  padding-inline: 6px;
  box-shadow: inset 0 0 0 0 darkmagenta;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  border-radius: 15px;
}

.buttons a.current {
  border-bottom: solid black 2px;
}

.buttons a:hover {
  color: aliceblue;
  box-shadow: inset 200px 0 0 0 darkmagenta;
}

/* LINK */
.ikigai {
  color: darkmagenta;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 darkmagenta;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.ikigai:hover {
  color: aliceblue;
  box-shadow: inset 200px 0 0 0 darkmagenta;
}

/* BODY LAYOUT */
body {
  background-color: rgb(228, 250, 249);
  margin: 0 auto;
  background-image: url(images/beachsunset.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  margin: 2em;
  padding: 60px 2px 10px;
}

main h1 {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(237, 215, 250);
  border-radius: 10px;
}

section {
  background-color: rgb(245, 177, 117);
  border-radius: 10px;
  margin: 3em;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 100;
  box-shadow: 1px 2px 2px 1px black;
  color: rgb(30, 0, 64);
}

section h2 {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px black;
}

/* IMAGES */
img {
  width: 200px;
  margin: 1em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
  header {
    font-size: 1.5em;
    padding: 0 5px 0 5px;
  }

  .head-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 7px 0px;
    gap: 6px;
  }

  .name {
    font-size: 20px;
    text-align: center;
  }

  .buttons {
    font-size: medium;
    text-align: center;
  }

  .buttons a {
    padding-inline: 3px;
  }

  main {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  section {
    margin: 30px 10px 30px 10px;
    padding: 5px;
    padding-bottom: 20px;
  }

  main h1 {
    margin: auto 3px;
    padding: 3px;
  }

  img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 426px) {
  header {
    font-size: 1em;
    padding: 0.5em 0.4em 0.5em;
  }

  .name {
    font-size: 20px !important;
  }

  .buttons a {
    padding-inline: 3px;
    font-size: 15px;
  }

  .name {
    font-size: 29px;
  }

  main {
    margin-left: 0;
    margin-right: 0;
  }

  section {
    margin: 50px 25px;
    padding: 15px;
    padding-bottom: 20px;
  }

  main h1 {
    margin: auto 10px;
  }

  img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  section:nth-child(odd) img {
    float: left;
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-right: 2em;
  }

  section:nth-child(even) img {
    float: right;
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-left: 2em;
  }
}
@media screen and (min-width: 769px) {
  header {
    /* font-size: 1.5rem; */
    padding: 1em 2em 1em;
  }

  .name {
    font-size: 2em !important;
  }

  .buttons a {
    padding-inline: 10px;
    font-size: 1.5em;
  }

  .name {
    font-size: 29px;
  }

  main {
    margin-left: 0;
    margin-right: 0;
  }

  section {
    margin: 50px 15vw;
    padding: 15px;
    padding-bottom: 20px;
  }

  main h1 {
    margin: auto 10vh;
  }

  section:nth-child(odd) img {
    float: left;
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-right: 2em;
  }

  section:nth-child(even) img {
    float: right;
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-left: 2em;
  }
}

@media screen and (min-width: 1025px) {
  section {
    margin: 50px 20vw;
    padding: 15px;
    padding-bottom: 20px;
  }

  main h1 {
    margin: auto 20vh;
  }
}
